@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  font-size: 1.125rem;
  line-height: 1.5;
}
hr {
  margin-top: 1rem;
}
p {
  margin-bottom: 1rem;
}
.swiper-button-next,
.swiper-button-prev {
  color: yellow !important;
}
