.header {
  display: flex;
  justify-content: space-between;
  padding-left: calc((100vw - 920px) / 2);
  padding-right: calc((100vw - 920px) / 2);
  padding-top: 20px;
  flex-wrap: wrap;
}

.navLink {
  margin-right: 10px;
  color: white;
  font-size: 18px;
}
